@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    /* background: dodgerblue; */
}

.center-btn{
    text-align: center;
}

.btn{
    padding: 12px 45px;
    margin-bottom: 20px;
    border: none;
    font-size: 33px;
    display: inline-block;
    background: transparent;
    border: 1px solid #000;
    transition: all .2s;
}

.btn-link{
    text-decoration: none;
    color: black;
}

.btn-round{
    border-radius: 120px;
}

.btn:hover{
    background: #f37373;
    border: solid 1px transparent;
}

.btn:active{
    border: 1px solid #f37373;
    background: transparent;
}

.btn:active .btn-link{
    color: #f37373;
}

.card-body{
    height: 509px;
    width: 358px;
    border-radius: 13px;
    margin: 35px auto 0 auto;
    padding: 10px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto';
    overflow: hidden;
    transition: background .3s;
}

.card-body:hover{
    background: #fff;
}

.card-btn{
    height: 256px;
    width: 358px;
    background: #f37373;
    border-radius: 14px;
    display: inline-block;
    transition: all .3s;
}

.card-open:hover{
    height: 446px;
    margin-bottom: -15px;
}

.card-textbox{
    padding: 10px;
    text-align: left;
}

.card-textbox h1{
    font-size: 22px;
    color:black;
}

.card-textbox p{
    font-size: 18px;
    text-transform: capitalize;
    color: #494949;
}